<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="header">
        <h1>Nadia Hanum Pratiwi</h1>
        <nav>
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Project</a>
            <a href="#">Contact</a>
        </nav>
    </div>

    <section class="hero-area">
        <h2>Selamat Datang di Portofolio Saya</h2>
        <p>Saya adalah seorang web developer yang berfokus pada pembuatan website modern dan responsif</p>
    </section>

    <section class="project-gird">
        <div class="project-item"></div>   
    </section>
    
</body>
</html>
